<h1>Welcome to anagrams.</h>
  <form action="/anagrams">
    <div class="form-group">
      <label for="word1">Enter word</label>
      <input id="word1" name="word1" class="form-control" type="text">
      <label for="word2">Enter possible anagram</label>
      <input id="word2" name="word2" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
